body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.body-container {
  margin: 0 90px;
  height: 100vh;
}

.logo {
  height: 3em;
}

.nav-item {
  padding: 0 0.15em;
}

.nav-item > a {
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: black;
}

.landing-page-hero {
  min-height: 400px;
  background-color: #dfedf5;
  height: 80vh;
}

.heading-text {
  font-family: "Playfair Display", serif;
  font-size: 3.5em;
}

p.desc-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

.black-button {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: white;
  background-color: black;
  border: 0;
  padding: 8px 30px;
}

.landing-page-image img {
  width: 85%;
}

/* .geometric-pattern {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
}

.geometric-pattern div {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0;
}

.geometric-pattern .white {
  background-color: white;
} */

.subheader-text h2 {
  font-family: "Playfair Display", serif;
  margin-bottom: 3%;
}

.featured-products {
  margin-top: 5%;
}

.featured-product {
  width: 340px !important;
}

.featured-product img {
  width: 340px;
}

.product-details {
  padding-top: 8px;
}

.product-details h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
}

.product-price {
  color: #266dd3;
}

.new-arrivals {
  margin-top: 5%;
  background-color: #dfedf5;
  padding: 5% 3%;
}

.card img {
  border-radius: 0 !important;
}

.new-arrivals .card-body {
  background-color: #dfedf5;
}

footer {
  height: 250px;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  background-color: #dfedf5;
  margin-top: 10%;
}

.footer {
  margin: 0 90px;
  padding-top: 30px;
}

.footer a img {
  width: 25px;
  margin-right: 10px;
}

.dropdown-item p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom: 0;
}

.dropdown-container {
  position: relative;
}

.dropdown-container .dropdown-menu {
  position: absolute;
  top: 50px !important;
}

.quantity-dropdown .dropdown-menu {
  top: 20px !important;
}

.th-option {
  font-family: "IBM Plex Sans Thai", sans-serif !important;
}

.about-us {
  width: 60%;
  padding: 80px 0 0;
}

.about-us .heading-text {
  margin-bottom: 25px;
}

.listings-cover {
  margin-top: 5%;
}

.cover-img {
  width: 100vw;
  height: auto;
  position: relative;
  left: calc(-50vw + 50%);
}

.cover-img img {
  max-height: 100%;
  max-width: 100%;
}

.filter-dropdown * {
  font-family: "Poppins", sans-serif;
  font-size: 0.9em !important;
  font-weight: 300 !important;
  color: black;
}

.product-listings.container {
  margin-top: 3%;
}

.product-images img {
  width: 100%;
  height: auto;
}

.shopping-cart {
  margin-top: 5%;
}

img.grayscale {
  filter: brightness(50%);
}

.shopping-cart hr {
  border: 0.2px solid black;
  opacity: 100%;
}

.cart-item img {
  width: 100%;
  height: auto;
}

.cart-item .col-md-4 {
  padding: 0 3%;
}

.white-button {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 8px 30px;
}

.cart-item .product-price {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.price-summary * {
  font-family: "Poppins", sans-serif;
  margin-top: 5px;
}

.payment-code {
  width: 30%;
}

.payment-confirmation-modal {
  position: absolute;
  top: 50px;
  border-radius: 0 !important;
  border: none !important;
  background-color: #dfedf5 !important;
}

.login {
  width: 60%;
  padding: 80px 0 0;
}

.login .heading-text {
  margin-bottom: 25px;
}

form label {
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: black;
}

::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #5f5f5f;
}

input.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid black;
  padding-left: 0;
}

.login .row {
  width: 70%;
}

.register {
  width: 60%;
  padding: 80px 0 0;
}

.register .row {
  width: 70%;
}

select.form-select {
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #5f5f5f;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid black;
  padding-left: 0;
}

.purchase-history {
  padding: 80px 0 0;
}

.purchase-history .label-row {
  margin-top: 4%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.8% 0;
}

.purchase-history .label-row .col {
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.8em;
}

.purchase-history .order-row {
  border-bottom: 0.8px solid #5f5f5f;
  padding: 0.8% 0;
}

.purchase-history .order-row .col {
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

.light-button {
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #5f5f5f;
  background-color: white;
  border: 1px solid #5f5f5f;
}

.light-button a {
  text-decoration: none;
  color: #5f5f5f;
}

.view-details-modal {
  position: absolute;
  top: 50px;
  border-radius: 0 !important;
  border: none !important;
}

.admin-container {
  height: 100%;
}

.admin-container .row {
  height: 100%;
}

.admin-sidebar {
  border-right: 1px solid black;
}

.view-orders .label-row {
  margin-top: 4%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.8% 0;
}

.view-orders .label-row .col {
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.8em;
}

.view-orders .order-row {
  border-bottom: 0.8px solid #5f5f5f;
  padding: 0.8% 0;
}

.view-orders .order-row .col {
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

.status-dropdown .dropdown-menu {
  top: 20px !important;
}

.new-product-modal {
  position: absolute;
  top: 50px;
  border-radius: 0 !important;
  border: none !important;
  margin-bottom: 50px;
}

.new-product-modal:after {
  position: absolute;
  content: "";
  bottom: -50px;
  height: 40px;
  width: 1px;
}

@media only screen and (max-width: 750px) {
  .landing-page-image {
    display: none;
  }

  .geometric-pattern {
    display: none;
  }

  .cart-item .col-md-4 {
    padding: 3% 3%;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .body-container {
    margin: 0 40px;
  }

  .footer {
    margin: 0 40px;
  }

  .landing-page-hero {
    height: 300px;
  }

  .landing-page-hero h1 {
    font-family: "Playfair Display", serif;
    font-size: 10vw;
  }
}
